{% load i18n %}

{# Display a randomnly-selected set of photos from a given gallery #}

<div >

    <h2><a href="{{ gallery.get_absolute_url }}">{{ gallery.title }}</a></h2>
    <p class="muted"><small>{% trans "Published" %} {{ gallery.date_added }}</small></p>
    {% if gallery.description %}<p style="max-width: 1000px;">{{ gallery.description|safe }}</p>{% endif %}
<div class="col-12 p-0 ">
    {% for photo in gallery.sample %}

        <a href="{{ gallery.get_absolute_url }}">
             <img class="col-2 p-1" src="{{ photo.get_thumbnail_url }}" class="thumbnail" alt="{{ photo.title }}">
        </a>
	{% endfor %}
</div>
</div>