{% extends "photologue/root.html" %}
{% load i18n %}
{% load static %}

{% block title %}
{% trans "Design" %}
{% endblock %}

<!-- content of this template to be forwarded to base -->
{% block content %}


<!-- top parallax image -->
<section id="parallax1" class="parallaxParent">
    <div style="background-image: url('{% static 'pdf/tls_ci_header.png' %}');"></div>
</section>

<!-- main page area -->
<div class="container-fluid px-0 px-md-2" style="margin-top: -30rem;">

    <!-- page title  -->
    <div class="container ">
        <div class="row col-lg-12 justify-content-center mx-auto text-center p-0">
       <span class=" col " style="background-color:black;"> <h1 style="display:block; " class="page-header py-1 py-lg-5 px-1">{% trans "TLS" %}</h1></span>
    </div>
    </div>

    <!-- page content -->
    <div class="container">

        <!--    shadowy container -->
        <div class="soft-shadow row py-5  justify-content-center align-items-center mx-auto text-center">

            <!--        spacer -->
            <div class="py-md-3 py-lg-4"></div>

            <!--        section title -->
            <div class="container px-2 px-md-4 px-lg-5 px-lg-5 mx-2 mx-md-5 mx-lg-5 py-1">
                <hr>
                <div class="row justify-content-between align-items-end p-0 m-0">
                    <div class="align-bottom col">
                        <h2>Corporate Identity and brand guidelines</h2>
                    </div>
                </div>
                <hr>

                <!--            body paragraph -->
                <p class="col-12 col-lg-10 p-4 p-lg-5 mx-md-0 mx-lg-auto text-sm-left text-lg-center">When I started doing basic designs for TLS - Boca Systems a logo was already in use across all products and offices, but there were no guidelines set and the logo application overall was still random. Due to fast growth of the company there was a need for rules. After some time I've started with setting simple guidelines for logo placement, fonts used and layout options.</p>

            </div>

<div class="container p-5">

<object data="{% static 'pdf/2.pdf' %}" type="application/pdf" width="100%" height="1120px">
  <p>It appears you don't have a PDF plugin for this browser.
   No biggie... you can <a href="{% static 'pdf/2.pdf' %}">click here to
  download the PDF file.</a></p>  
</object>
<br><br><br>

<p class="col-12 col-lg-10 p-4 p-lg-5 mx-md-0 mx-lg-auto text-sm-left text-lg-center">As these kept evolving over the years, I got the assignment to summarize everything and write the company's corporate identity and brand strategy document. This was a huge task but after several meeting sessions the final document eventually saw the light of day.</p>
<br>

<object data="{% static 'pdf/3.pdf' %}" type="application/pdf" width="100%" height="1120px">
  <p>It appears you don't have a PDF plugin for this browser.
   No biggie... you can <a href="{% static 'pdf/3.pdf' %}">click here to
  download the PDF file.</a></p>  
</object>
<br><br><br>
            <!--        section title -->
            <div class="container px-2 px-md-4 px-lg-5 px-lg-5 mx-0 py-1">
                <hr>
                <div class="row justify-content-between align-items-end p-0 m-0">
                    <div class="align-bottom col">
                        <h2>Documents & Procedures</h2>
                    </div>
                </div>
                <hr>
            </div>
<p class="col-12 col-lg-10 p-4 p-lg-5 mx-md-0 mx-lg-auto text-sm-left text-lg-center">The combination of Technical knowledge, quick understanding of technical problems and design skills allow for faster document writing requiring input from head of technical department only in critical areas and for final review. Of course a good overview of product specifications and field of writing are crucial.
​<br><br>
On this page I present a few sample  documents and procedures I was assigned to at TLS - Boca Systems over the years. This is boring stuff, please only read if you're reviewing my job application or similar :)</p>
<br>
<object data="{% static 'pdf/5.pdf' %}" type="application/pdf" width="100%" height="1120px">
  <p class="col-12 col-lg-10 p-4 p-lg-5 mx-md-0 mx-lg-auto text-sm-left text-lg-center">It appears you don't have a PDF plugin for this browser.
   No biggie... you can <a href="{% static 'pdf/5.pdf' %}">click here to
  download the PDF file.</a></p>  
</object>https://corebots.s3.amazonaws.com/media/photologue/photos/cache/design_amanita_22_mobile.png
<br><br>
<object data="{% static 'pdf/6.pdf' %}" type="application/pdf" width="100%" height="1120px">
  <p class="col-12 col-lg-10 p-4 p-lg-5 mx-md-0 mx-lg-auto text-sm-left text-lg-center">It appears you don't have a PDF plugin for this browser.
   No biggie... you can <a href="{% static 'pdf/6.pdf' %}">click here to
  download the PDF file.</a></p>  
</object>
<br><br>
<object data="{% static 'pdf/7.pptx' %}" type="application/pptx" width="100%" height="1120px"> 
  <p class="col-12 col-lg-10 p-4 p-lg-5 mx-md-0 mx-lg-auto text-sm-left text-lg-center">It appears you don't have a PDF plugin for this browser.
   No biggie... you can <a href="{% static 'pdf/7.pptx' %}">click here to
  download the PDF file.</a></p>  
</object>
<br><br>
<object data="{% static 'pdf/8.pdf' %}" type="application/pdf" width="100%" height="1120px">
  <p class="col-12 col-lg-10 p-4 p-lg-5 mx-md-0 mx-lg-auto text-sm-left text-lg-center">It appears you don't have a PDF plugin for this browser.
   No biggie... you can <a href="{% static 'pdf/8.pdf' %}">click here to
  download the PDF file.</a></p>  
</object>
<br><br>
<object data="{% static 'pdf/9.pdf' %}" type="application/pdf" width="100%" height="1120px">
  <p class="col-12 col-lg-10 p-4 p-lg-5 mx-md-0 mx-lg-auto text-sm-left text-lg-center">It appears you don't have a PDF plugin for this browser.
   No biggie... you can <a href="{% static 'pdf/9.pdf' %}">click here to
  download the PDF file.</a></p>  
</object>
<br><br>
<object data="{% static 'pdf/10.pdf' %}" type="application/pdf" width="100%" height="1120px">
  <p class="col-12 col-lg-10 p-4 p-lg-5 mx-md-0 mx-lg-auto text-sm-left text-lg-center">It appears you don't have a PDF plugin for this browser.
   No biggie... you can <a href="{% static 'pdf/10.pdf' %}">click here to
  download the PDF file.</a></p>  
</object>
<br><br>

</div>
        <!--    spacer -->
        <div id="separ">
            <br><br><br><br>
        </div>
    </div>
</div>

        <!--    spacer -->
        <div id="separ">
            <br><br><br><br>
        </div>
{% endblock %}