{% extends "photologue/root.html" %}
{% load i18n %}

{% block title %}
{% trans "All galleries" %}
{% endblock %}

{% block content %}

    <section id="parallax1" class="parallaxParent">
        <div style="background-image: url('https://corebots.design/media/photologue/photos/rohace_3.jpg');"></div>
    </section>

    <div class="container-fluid px-0 px-md-2" style="margin-top: -30rem;">
        <div class="row col-lg-12 justify-content-center mx-auto text-center">
            <h1 class="page-header py-1 py-lg-5 px-5">{% trans "PHOTOGRAPHY" %}</h1>
        </div>

        {% if object_list %}
        {% for gallery in object_list %}

        {% for tag in gallery.extended.tags.all %}
        {% if tag.name == 'photo' %}


        <div id="separ-jump-here" class="container">
            <div class="soft-shadow row py-5  justify-content-center align-items-center mx-auto text-center">
               <div class="py-md-3 py-lg-4"></div>
                <div class="container px-2 px-md-4 px-lg-5 px-lg-5 mx-2 mx-md-5 mx-lg-5 py-1">
                    <hr>


                    <div class="row justify-content-between align-items-end p-0 m-0">

                        <!--display tags as per https://stackoverflow.com/questions/27584840/how-to-display-extended-fields-in-django-photologue-->
                        <!-- .extended to access extended field in admin as declared in related_name=-->

                        <div class="col-12 col-lg-3 text-center text-lg-left px-lg-0" style="min-width: 150px;"><small>tags: </small>

                            {% for tag in gallery.extended.tags.all %}
                                {% if tag.name != 'photo' %}
                                <small style="font-weight: 800">{{ tag.name }} </small>
                                {% endif %}
                            {% endfor %}

                        </div>
                        <div class="align-bottom col text-sm-center text-lg-center justify-content-sm-center justify-content-lg-center">

                            <h2 ><a  href="{{ gallery.get_absolute_url }}">{{ gallery.title }}</a></h2>

                        </div>
                        <div class="muted col-12 col-lg-3 text-sm-center text-lg-right justify-content-sm-center justify-content-lg-center px-lg-0 " style="min-width: 150px;">

                            <small class=" ">{% trans "" %} {{ gallery.date_added }}</small>

                        </div>
                    </div>
                    <hr>

                    {% if gallery.description %}

                    <p class="col-12 col-lg-10 p-4 p-lg-5 mx-md-0 mx-lg-auto text-sm-center text-lg-center justify-content-sm-center justify-content-lg-center">{{ gallery.description|safe }}</p>

                    {% endif %}


                </div>
                <div class="container no-gutters">
                    <div class="col-12 efekty_gal_list">

                        {% for photo in gallery.sample %}

                        <a href="{{ gallery.get_absolute_url }}">
                            <img src="{{ photo.get_thumbnail_url }}"
                                 class="thumbnail col-12 col-sm-12 col-md-5 p-1"
                                 alt="{{ photo.title }}" style="margin-bottom:4px;">
                        </a>

                        {% endfor %}



                        <div class="py-1 py-lg-4">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="separ">
            <br><br><br><br>
        </div>

        {% endif %}

        {% endfor %}

        {% endfor %}

        {% else %}

        <div class="row col-lg-12">{% trans "No galleries were found" %}.</div>

        {% endif %}

        {% include "photologue/includes/paginator.html" %}

    </div>

{% endblock %}